.main {
  text-align: center;
  background-image: linear-gradient(to right top, #131943, #772f60, #c9595b, #efa24c, #def86e);
  background-size: cover;
  color: wheat;
  min-height: 1000px;
  overflow-x: hidden;
  


}
.App{
  width: 100%;
}

ul li{
  text-align: left!important;
}

h1{
  padding-top: 2%;
}

h2{
  font-size: 16px!important;
  padding-top: 3%;
}

.carding{
  background-color: rgba(19, 25, 67, 0.3);
  padding: 5%;
  margin: 5%;
  border-radius: 12px;
  box-shadow: 3px 7px rgba(14, 10, 12, 0.1);

}

form{
  padding: 2%;
}

.input{
  border-radius: 11px!important;
  width: 80%!important;
  height: 50px!important;
  box-shadow: 2px 5px rgba(14, 10, 12, 0.1);
}

.button{
   margin-top: 2%!important;
   border-radius: 23px!important;
   background-color: rgba(89,41,72,0.6)!important;
   padding: 0.5% 1%;
   color: white!important;
   box-shadow: 2px 3px rgba(14, 10, 12, 0.1);

}

.button:hover{
  background-color: rgba(89,41,72,0.8)!important;
  box-shadow: 3px 4px rgba(14, 10, 12, 0.4);
}

.butt{
  margin-top: 2%!important;
  border-radius: 23px!important;
  background-color: rgba(89,41,72,0.5)!important;
  padding: 1% 2%;
  color: white!important;
  box-shadow: 2px 3px rgba(14, 10, 12, 0.1);

}

.but:hover{
  box-shadow: 2px 3px rgba(14, 10, 12, 0.3);
}

.col{
  flex: 1, content!important;
}

.bookIt{
  background-color: #986B88;
  padding: 1% 5%;
  border-radius: 15px;
}

a{
  color: wheat!important;
  text-decoration: none!important;
  box-shadow: 2px 5px rgba(14, 10, 12, 0.1);
}